<!-- SLIDER STARTS
			========================================================================= --> 
      <section id="slider">
        <div id="rev_slider_24_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="website-intro" data-source="gallery" style="background:#000000;padding:0px;">
          <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
          <div id="rev_slider_24_1" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;" data-version="5.4.1">
            <ul>
              <!-- SLIDE  -->	
              <li data-index="rs-67" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="600"  data-thumb="../assets/img/slider/fullscreen/woman2-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent">
                <!-- MAIN IMAGE -->
                <img src="../assets/img/slider/fullscreen/slide1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="20" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-9" 
                  data-x="['center','center','center','center']" data-hoffset="['-112','-43','-81','44']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-219','-184','-185','182']" 
                  data-width="['250','250','150','150']"
                  data-height="['150','150','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3700","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-10" 
                  data-x="['center','center','center','center']" data-hoffset="['151','228','224','117']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-212','-159','71','-222']" 
                  data-width="['150','150','100','100']"
                  data-height="['200','150','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-29" 
                  data-x="['center','center','center','center']" data-hoffset="['339','-442','104','-159']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['2','165','-172','219']" 
                  data-width="['250','250','150','150']"
                  data-height="['150','150','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-12" 
                  data-x="['center','center','center','center']" data-hoffset="['162','216','-239','193']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['195','245','6','146']" 
                  data-width="['250','250','100','100']"
                  data-height="150"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-34" 
                  data-x="['center','center','center','center']" data-hoffset="['-186','-119','273','-223']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['269','217','-121','69']" 
                  data-width="['300','300','150','150']"
                  data-height="['200','200','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3500","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 6 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-11" 
                  data-x="['center','center','center','center']" data-hoffset="['-325','292','162','-34']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['3','55','-275','-174']" 
                  data-width="150"
                  data-height="['250','150','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3450","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 7 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-27" 
                  data-x="['center','center','center','center']" data-hoffset="['-429','523','-190','-306']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-327','173','181','480']" 
                  data-width="['250','250','150','150']"
                  data-height="['300','300','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":320,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3680","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 8 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-28" 
                  data-x="['center','center','center','center']" data-hoffset="['422','-409','208','225']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-245','-72','294','-14']" 
                  data-width="['300','300','150','150']"
                  data-height="['250','250','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":360,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3640","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 9 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-30" 
                  data-x="['center','center','center','center']" data-hoffset="['549','-445','28','58']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['236','400','316','287']" 
                  data-width="['300','300','150','200']"
                  data-height="['250','250','150','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-31" 
                  data-x="['center','center','center','center']" data-hoffset="['-522','492','-151','262']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['339','-180','330','-141']" 
                  data-width="['300','300','150','150']"
                  data-height="['250','250','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":440,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3560","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 14;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 11 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-32" 
                  data-x="['center','center','center','center']" data-hoffset="['-588','-375','-253','-207']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['72','-328','-172','-111']" 
                  data-width="['300','300','150','150']"
                  data-height="['200','200','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":480,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3520","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 15;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 12 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-33" 
                  data-x="['center','center','center','center']" data-hoffset="['-37','73','-76','-100']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-401','-340','-293','-246']" 
                  data-width="['450','400','250','250']"
                  data-height="['100','100','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":310,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3690","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 16;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 13 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-67-layer-35" 
                  data-x="['center','center','center','center']" data-hoffset="['186','38','116','17']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['363','402','190','395']" 
                  data-width="['350','400','250','250']"
                  data-height="['100','100','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":340,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3660","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 17;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 14 -->
                <div class="tp-caption tp-shape tp-shapewrapper " 
                  id="slide-67-layer-1" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                  data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-basealign="slide" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 15 -->
                <div class="tp-caption   tp-resizeme" 
                  id="slide-67-layer-2" 
                  data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" 
                  data-fontsize="['90','90','70','50']"
                  data-lineheight="['90','90','70','50']"
                  data-width="['none','none','481','360']"
                  data-height="none"
                  data-whitespace="['nowrap','nowrap','normal','normal']"
                  data-type="text" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 19; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: -5px;font-family:Rubik;">Brushes <br/>&<br/> Lipsticks								 
                </div>
                <!-- LAYER NR. 16 -->
                <div class="tp-caption   tp-resizeme" 
                  id="slide-67-layer-3" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['90','90','60','30']" 
                  data-fontsize="['25','25','25','20']"
                  data-lineheight="['35','35','35','30']"
                  data-width="['480','480','480','360']"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 5px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Rubik;">Making your Ideas possible.
                </div>
                <!-- LAYER NR. 17 -->
                <a class="tp-caption rev-btn  tp-resizeme" 
                  href="#" target="_blank"			 id="slide-67-layer-7" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['200','200','160','120']" 
                  data-width="250"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="button" 
                  data-actions=''
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[50,50,50,50]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[50,50,50,50]"
                  style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:Rubik;background-color:rgb(87,202,133);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"
                      >REGISTER</a>
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-66" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="600"  data-thumb="../assets/img/slider/fullscreen/deskbg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent">
                <!-- MAIN IMAGE -->
                <img src="../assets/img/slider/fullscreen/slide2.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="20" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 18 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-9" 
                  data-x="['center','center','center','center']" data-hoffset="['-112','-43','-81','44']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-219','-184','-185','182']" 
                  data-width="['250','250','150','150']"
                  data-height="['150','150','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3700","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 19 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-10" 
                  data-x="['center','center','center','center']" data-hoffset="['151','228','224','117']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-212','-159','71','-222']" 
                  data-width="['150','150','100','100']"
                  data-height="['200','150','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 20 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-29" 
                  data-x="['center','center','center','center']" data-hoffset="['339','-442','104','-159']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['2','165','-172','219']" 
                  data-width="['250','250','150','150']"
                  data-height="['150','150','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 21 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-12" 
                  data-x="['center','center','center','center']" data-hoffset="['162','216','-239','193']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['195','245','6','146']" 
                  data-width="['250','250','100','100']"
                  data-height="150"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 22 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-34" 
                  data-x="['center','center','center','center']" data-hoffset="['-186','-119','273','-223']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['269','217','-121','69']" 
                  data-width="['300','300','150','150']"
                  data-height="['200','200','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3500","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 23 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-11" 
                  data-x="['center','center','center','center']" data-hoffset="['-325','292','162','-34']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['3','55','-275','-174']" 
                  data-width="150"
                  data-height="['250','150','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3450","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 24 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-27" 
                  data-x="['center','center','center','center']" data-hoffset="['-429','523','-190','-306']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-327','173','181','480']" 
                  data-width="['250','250','150','150']"
                  data-height="['300','300','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":320,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3680","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 25 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-28" 
                  data-x="['center','center','center','center']" data-hoffset="['422','-409','208','225']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-245','-72','294','-14']" 
                  data-width="['300','300','150','150']"
                  data-height="['250','250','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":360,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3640","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 26 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-30" 
                  data-x="['center','center','center','center']" data-hoffset="['549','-445','28','58']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['236','400','316','287']" 
                  data-width="['300','300','150','200']"
                  data-height="['250','250','150','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 27 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-31" 
                  data-x="['center','center','center','center']" data-hoffset="['-522','492','-151','262']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['339','-180','330','-141']" 
                  data-width="['300','300','150','150']"
                  data-height="['250','250','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":440,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3560","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 14;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 28 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-32" 
                  data-x="['center','center','center','center']" data-hoffset="['-588','-375','-253','-207']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['72','-328','-172','-111']" 
                  data-width="['300','300','150','150']"
                  data-height="['200','200','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":480,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3520","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 15;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 29 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-33" 
                  data-x="['center','center','center','center']" data-hoffset="['-37','73','-76','-100']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-401','-340','-293','-246']" 
                  data-width="['450','400','250','250']"
                  data-height="['100','100','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":310,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3690","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 16;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 30 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-66-layer-35" 
                  data-x="['center','center','center','center']" data-hoffset="['186','38','116','17']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['363','402','190','395']" 
                  data-width="['350','400','250','250']"
                  data-height="['100','100','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":340,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3660","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 17;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 31 -->
                <div class="tp-caption tp-shape tp-shapewrapper " 
                  id="slide-66-layer-1" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                  data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-basealign="slide" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 32 -->
                <div class="tp-caption   tp-resizeme" 
                  id="slide-66-layer-2" 
                  data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" 
                  data-fontsize="['90','90','70','50']"
                  data-lineheight="['90','90','70','50']"
                  data-width="['none','none','481','360']"
                  data-height="none"
                  data-whitespace="['nowrap','nowrap','normal','normal']"
                  data-type="text" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 19; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: -5px;font-family:Rubik;">Brushes<br/>&<br/>Lipsticks</div>
                <!-- LAYER NR. 33 -->
                <div class="tp-caption   tp-resizeme" 
                  id="slide-66-layer-3" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['90','90','60','30']" 
                  data-fontsize="['25','25','25','20']"
                  data-lineheight="['35','35','35','30']"
                  data-width="['480','480','480','360']"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Rubik;">Exploring New Paths To Elegance. </div>
                <!-- LAYER NR. 34 -->
                <!-- <a class="tp-caption rev-btn  tp-resizeme" 
                  href="https://themeforest.net/item/this-one-one-page-responsive-website-template/7236268" target="_blank"			 id="slide-66-layer-7" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['200','200','160','120']" 
                  data-width="250"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="button" 
                  data-actions=''
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[50,50,50,50]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[50,50,50,50]"
                  style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:Rubik;background-color:rgb(87,202,133);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">DIVE RIGHT IN </a> -->
              </li>
              <!-- SLIDE  -->
              <li data-index="rs-68" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="600"  data-thumb="../assets/img/slider/fullscreen/reachout_bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent">
                <!-- MAIN IMAGE -->
                <img src="../assets/img/slider/fullscreen/slide4.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="20" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 35 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-9" 
                  data-x="['center','center','center','center']" data-hoffset="['-112','-43','-81','44']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-219','-184','-185','182']" 
                  data-width="['250','250','150','150']"
                  data-height="['150','150','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3700","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 36 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-10" 
                  data-x="['center','center','center','center']" data-hoffset="['151','228','224','117']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-212','-159','71','-222']" 
                  data-width="['150','150','100','100']"
                  data-height="['200','150','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 37 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-29" 
                  data-x="['center','center','center','center']" data-hoffset="['339','-442','104','-159']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['2','165','-172','219']" 
                  data-width="['250','250','150','150']"
                  data-height="['150','150','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 38 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-12" 
                  data-x="['center','center','center','center']" data-hoffset="['162','216','-239','193']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['195','245','6','146']" 
                  data-width="['250','250','100','100']"
                  data-height="150"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 39 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-34" 
                  data-x="['center','center','center','center']" data-hoffset="['-186','-119','273','-223']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['269','217','-121','69']" 
                  data-width="['300','300','150','150']"
                  data-height="['200','200','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3500","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 40 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-11" 
                  data-x="['center','center','center','center']" data-hoffset="['-325','292','162','-34']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['3','55','-275','-174']" 
                  data-width="150"
                  data-height="['250','150','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3450","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 41 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-27" 
                  data-x="['center','center','center','center']" data-hoffset="['-429','523','-190','-306']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-327','173','181','480']" 
                  data-width="['250','250','150','150']"
                  data-height="['300','300','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":320,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3680","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 42 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-28" 
                  data-x="['center','center','center','center']" data-hoffset="['422','-409','208','225']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-245','-72','294','-14']" 
                  data-width="['300','300','150','150']"
                  data-height="['250','250','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":360,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3640","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 43 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-30" 
                  data-x="['center','center','center','center']" data-hoffset="['549','-445','28','58']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['236','400','316','287']" 
                  data-width="['300','300','150','200']"
                  data-height="['250','250','150','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 44 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-31" 
                  data-x="['center','center','center','center']" data-hoffset="['-522','492','-151','262']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['339','-180','330','-141']" 
                  data-width="['300','300','150','150']"
                  data-height="['250','250','100','100']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":440,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3560","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 14;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 45 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-32" 
                  data-x="['center','center','center','center']" data-hoffset="['-588','-375','-253','-207']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['72','-328','-172','-111']" 
                  data-width="['300','300','150','150']"
                  data-height="['200','200','150','150']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="300" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":480,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3520","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 15;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 46 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-33" 
                  data-x="['center','center','center','center']" data-hoffset="['-37','73','-76','-100']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-401','-340','-293','-246']" 
                  data-width="['450','400','250','250']"
                  data-height="['100','100','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":310,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3690","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 16;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 47 -->
                <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" 
                  id="slide-68-layer-35" 
                  data-x="['center','center','center','center']" data-hoffset="['186','38','116','17']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['363','402','190','395']" 
                  data-width="['350','400','250','250']"
                  data-height="['100','100','50','50']"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-slicey_offset="250" 
                  data-slicey_blurstart="0" 
                  data-slicey_blurend="20" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":340,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3660","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 17;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 48 -->
                <div class="tp-caption tp-shape tp-shapewrapper " 
                  id="slide-68-layer-1" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                  data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-type="shape" 
                  data-basealign="slide" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"> </div>
                <!-- LAYER NR. 49 -->
                <div class="tp-caption   tp-resizeme" 
                  id="slide-68-layer-2" 
                  data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" 
                  data-fontsize="['90','90','70','50']"
                  data-lineheight="['90','90','70','50']"
                  data-width="['none','none','481','360']"
                  data-height="none"
                  data-whitespace="['nowrap','nowrap','normal','normal']"
                  data-type="text" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 19; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: -5px;font-family:Rubik;">Brushes<br/>&<br/>Lipsticks 
                </div>
                <!-- LAYER NR. 50 -->
                <div class="tp-caption   tp-resizeme" 
                  id="slide-68-layer-3" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['90','90','60','30']" 
                  data-fontsize="['25','25','25','20']"
                  data-lineheight="['35','35','35','30']"
                  data-width="['480','480','480','360']"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text" 
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Rubik;">Experience the Revolution. </div>
                <!-- LAYER NR. 51 -->
                <!-- <a class="tp-caption rev-btn  tp-resizeme" 
                  href="https://themeforest.net/item/this-one-one-page-responsive-website-template/7236268?ref=alia&license=regular&open_purchase_for_item_id=7236268&purchasable=source" target="_blank"			 id="slide-68-layer-7" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['200','200','160','120']" 
                  data-width="250"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="button" 
                  data-actions=''
                  data-responsive_offset="on" 
                  data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[50,50,50,50]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[50,50,50,50]"
                  style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:Rubik;background-color:rgb(87,202,133);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">BUY NOW </a> -->
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 5px; background: rgb(87,202,133);"></div>
          </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
      </section>
      <!-- /. SLIDER ENDS -->
      <!-- NAVIGATION STARTS
        ========================================================================= -->
      <section id="navigation">
        <div class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="#slider"><img src="../assets/img/logo/logo2.png" width="140" height="30" alt=""></a> 
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav pull-right">
                <li><a href="#slider" data-toggle="collapse" data-target=".navbar-collapse">HOME</a></li>
                <li><a href="#about" data-toggle="collapse" data-target=".navbar-collapse">ABOUT</a></li>
                <li><a href="#team" data-toggle="collapse" data-target=".navbar-collapse">TEAM</a></li>
                <li><a href="#services" data-toggle="collapse" data-target=".navbar-collapse">SERVICES</a></li>
                
                <li><a href="#contact" data-toggle="collapse" data-target=".navbar-collapse">CONTACT</a></li>
                <li><a class="tp-caption rev-btn  tp-resizeme rs-hover-ready" href="#" target="_blank" id="slide-67-layer-7" style="top:8px; z-index: 21; min-width: 70px; max-width: 72px; white-space: nowrap; font-size: 9px; line-height: 30px; font-weight: 700; color: rgb(255, 255, 255); font-family: Rubik; background-color: rgb(87, 202, 133); border-color: rgb(0, 0, 0); border-radius: 30px; outline: none; box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px; box-sizing: border-box; cursor: pointer; text-decoration: none; visibility: inherit; text-align: center; margin: 0px; padding: 0px 14px; letter-spacing: 0px; min-height: 0px; max-height: none; filter: blur(0px); opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px; transition: none;" href="#" data-toggle="collapse" data-target=".navbar-collapse">REGISTER</a></li>
     
              </ul>
            </div>
            <!--/.nav-collapse --> 
          </div>
        </div>
      </section>
      <!-- /.NAVIGATION -->