<!-- FOOTER STARTS
			========================================================================= -->
      <section id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="desc"><i class="fa fa-heart"></i><br>© 2018. BrushesAndLipsticks.
                <br>
                Developed and Managed By <a href="http://www.ampersandllc.co/">Ampersand Technologies</a>.
              </div>
              <div class="line"></div>
              <a href="#" class="scrollup"><i class="fa fa-angle-double-up"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- /.FOOTER -->