@charset "utf-8";
/* CSS Document */

html,
body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    overflow-x: hidden;
}
/* ------------------------------------------------------------------------------------------ Preloader */

#preloader {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
}
.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: #FFF;
    height: 36px;
    width: 36px;
    margin-left: -18px;
    margin-top: -18px;
}
/* ------------------------------------------------------------------------------------------ Animated Items on page */

.animated {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
/* ------------------------------------------------------------------------------------------ Slider Section */

section#slider {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Slider Button */

.tp-leftarrow.default {
    background-color: #000;
}
.tp-rightarrow.default {
    background-color: #000;
}
.tp-banner .getstarted {
    border: 2px solid #FFF;
    color: #FFF;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    font-size: 22px;
}
.tp-banner .getstarted:hover {
    border: 2px solid #FFF;
    color: #000;
    background-color: #FFF;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
}
/* Static Slider Picture */

.slider-bg-static {
    background-image: url(../img/slider/static-bg/1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: repeat;
    height: 100%;
}
/* Animated Slider Picture */

.slider-bg-animated {
    background-image: url(../img/slider/animted-bg/1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: repeat;
    -webkit-animation: BackgroundAnimation 500s linear infinite;
    -moz-animation: BackgroundAnimation 500s linear infinite;
    -ms-animation: BackgroundAnimation 500s linear infinite;
    height: 100%;
}
/* Background Animation */

@-webkit-keyframes BackgroundAnimation {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 9600px 0px;
    }
}
@-moz-keyframes BackgroundAnimation {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 9600px 0px;
    }
}
@-ms-keyframes BackgroundAnimation {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 9600px 0px;
    }
}
/* ------------------------------------------------------------------------------------------ Main Navigation Section */

section#navigation {
    padding-top: 0px;
    padding-bottom: 0px;
}
#navigation {
    width: 100%;
    margin-left: auto;
    margin-bottom: auto;
    position: absolute;
    z-index: 9999;
}
#navigation ul.nav {
    font-family: 'lato', sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
#navigation ul.nav li {
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
}
#navigation ul.nav li:last-child {
    padding-right: 0px;
}
#navigation ul.nav li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}
#navigation ul.nav a:hover {
    color: #000;
}
#navigation ul.nav .current a {
    color: #000;
}
.navbar-brand {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 12px;
}
.dropdown-menu>li {
    padding-top: 0px!important; 
	padding-bottom: 0px!important;    	
}
.dropdown-menu>li>a {
    padding-top: 10px;
	padding-bottom: 10px;    
}

/* ------------------------------------------------------------------------------------------ Section Settings */

section {
    padding-top: 120px;
    padding-bottom: 100px;
}
.section-heading {
    padding-bottom: 30px;
}
.section-heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
}
.section-heading h2 {
    font-family: 'Lato', sans-serif;
    color: #999;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    line-height: 24px;
    letter-spacing: 3px;
}
.section-heading p {
    padding: 0px;
    margin: 0px;
}
.section-heading .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    padding-bottom: 16px;
    margin-bottom: 40px;
    width: 100px;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------ About Section Starts */

#about .heading {
    font-size: 28px;
    font-weight: 400;
}
#about .circle {
    width: 90px;
    height: 90px;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 120px;
    position: relative;
    margin: 50px 83px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 6px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#about .circle i {
    font-size: 36px;
}
#about .description {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#about .col-md-4:hover .circle {
    background-color: #000000;
}
#about .col-md-4:hover i {
    color: #fff;
}
#about-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}
#bar {
    width: 0%;
    max-width: 100%;
    height: 4px;
    background: #000;
}
#progressBar {
    width: 100%;
    background: #EDEDED;
}
#about-2 .heading2 {
    font-size: 28px;
    font-weight: 400;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    padding-top: 10px;
    padding-bottom: 12px;
}
#about-2 .heading2 a {
    color: #000;
    text-decoration: none;
}
#about-2 .heading2 a:link {
    color: #000;
    text-decoration: none;
}
#about-2 .heading2 a:active {
    color: #000;
    text-decoration: none;
}
#about-2 .heading2 a:hover {
    color: #000;
    text-decoration: none;
}
#about-2 .about-carousel {
    padding-bottom: 30px;
}
#about-2 .about-carousel a span {
    top: 50%;
    position: absolute;
}
#about-2 #accordion i {
    width: 30px;
    padding-right: 8px;
    text-align: center;
}
#about-2 .skills-progress {
    text-align: center;
    margin-top: 30px;
}
#about-2 .skills-progress .caption {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}
#about-2 .skills-progress .col-md-2 {
    margin-bottom: 15px;
}
#donutchart1,
#donutchart2,
#donutchart3,
#donutchart4,
#donutchart5,
#donutchart6,
#donutchart7,
#donutchart8 {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------------------------------------------------------------ Team Section Starts */

#team {
    background: url(../img/textures/light-grey-noise.gif);
}
#team .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#team .team-contents {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 2px;
}
#team .picture {
    padding-left: 30px;
    padding-right: 30px;
}
#team .picture img {
    width: 100%;
    height: auto;
    background: transparent;
    position: relative;
    margin-bottom: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
#team .heading {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
}
#team .designation {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: #555;
}
#team .smallline {
    background-color: #ccc;
    width: 100px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.team-contents .icon {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    top: -60px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: normal;
    margin-bottom: -60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#team .description {
    margin-bottom: 30px;
}
#team .team-social a {
    margin-bottom: 100px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    color: #000;
}
#team .team-social a i {}
/* Team Overlayzoom Starts */

.teamoverlayzoom {
    position: relative;
    display: block;
    margin: 0;
    text-decoration: none;
}
.teamoverlayzoom span i {
    color: #FFF;
}
.teamoverlayzoom span.zoom {
    position: absolute;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* Fallback for web browsers that doesn't support RGBa */
    
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.teamoverlayzoom span.zoom span {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 50px;
    width: 100%;
    height: 100%;
}
.teamoverlayzoom:hover span.zoom,
.teamoverlayzoom:focus span.zoom {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    
    background: rgba(0, 0, 0, 0.4);
}
/* ------------------------------------------------------------------------------------------ Quotes Section Starts */

#quotes {
    color: #fff;
}
#quotes {
    background: url(../img/parallax/1.jpg) 50% 0 repeat-y fixed;
    background-size: cover;
}
#quotes h2 {
    color: #FFF;
}
#quotes .line {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    margin-bottom: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#quotes .text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#quotes .name {
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* ------------------------------------------------------------------------------------------ Our Services Section Starts */

#our-services .item {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
#services .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#services .circle {
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #666;
    border-radius: 150px;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#services .circle i {
    font-size: 50px;
    color: #666;
}
#services .item:hover .circle {
    background-color: #000;
    color: #fff;
}
#services .item:hover i {
    color: #fff;
}
#services .smallline {
    background-color: #e5e5e5;
    width: 100px;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#services .heading-1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #999;
    letter-spacing: 3px;
    padding-bottom: 10px;
}
#services .heading-2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}
#services .description {
    margin-top: 6px;
    margin-bottom: 50px;
    text-align: left;
}
/* ------------------------------------------------------------------------------------------ Portfolio Section Starts */

#portfolio .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-bottom: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#options {
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#options ul {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#options ul li {
    display: inline-block;
}
#options ul li a {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    border: 3px solid #ccc;
    font-size: 30px;
    padding-top: 16px;
    color: #ccc;
}
#options ul li a:link {
    color: #ccc;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#options ul li:hover a,
#options ul li a.selected {
    color: #000;
    border: 3px solid #000;
}
#portfolio ul li {
    list-style-type: none;
}
#container-thumbs {
    padding: 0px;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#container-thumbs .items {
    margin-bottom: 20px;
}
#container-thumbs .items img {
    width: 100%;
    height: auto;
    background: transparent;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#container-thumbs .items .icon {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    top: -60px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: normal;
    margin-bottom: -60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#container-thumbs .items:hover .icon {
    background-color: #666;
}
/* Overlayzoom Starts */

.overlayzoom {
    position: relative;
    display: block;
    margin: 0;
    text-decoration: none;
}
.overlayzoom span i {
    color: #FFF;
}
.overlayzoom span.zoom {
    position: absolute;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* Fallback for web browsers that doesn't support RGBa */
    
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.overlayzoom span.zoom span {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 16px;
    width: 100%;
    height: 100%;
}
.overlayzoom:hover span.zoom,
.overlayzoom:focus span.zoom {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    
    background: rgba(0, 0, 0, 0.4);
}
/* -- Detail Portfolio Starts -- */

.portfolio-detail {
    overflow: hidden;
    max-height: 0px;
    background: #f5f6f8;
    transition: all .3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all .3s ease;
}
.open-box {
    max-height: 1600px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
}
.portfolio-detail .heading {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: 600;
}
.portfolio-detail .desc {
    margin-top: 10px;
}
.portfolio-detail ul {
    margin: 0px;
    list-style-type: none;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.portfolio-detail ul li {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
}
.portfolio-detail ul li:last-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #444444;
}
.portfolio-detail .social-icons ul {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.portfolio-detail .social-icons ul li {
    width: 36px;
    height: 36px;
    background-color: #bbbbbb;
    border-radius: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio-detail .social-icons ul li a {
    color: #fff;
}
.portfolio-detail .social-icons ul li:hover {
    opacity: .80;
    filter: alpha(opacity=80);
}
.links {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #444444;
}
.links div {
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
}
.links a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.links a:hover {
    color: #333;
    text-decoration: none!important;
}
.close-detail {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.close-detail:hover {
    color: #000;
    text-decoration: none!important;
}
/* ------------------------------------------------------------------------------------------ Facts Section Starts */

#facts {
    color: #fff;
    background-attachment: fixed;
    background-image: url(../img/parallax/4.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
section#facts {
    padding-top: 0px;
    padding-bottom: 0px;
}
#facts .container,
#facts .container-fluid {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0px auto;
    text-align: center;
}
#facts #video video {
    display: block;
    width: 100%;
    opacity: 0.7;
    background-color: #000;
}
#facts h2 {
    color: #FFF;
}
#our-facts .items {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
#facts .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#facts .smallline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#facts .heading-1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
    letter-spacing: 3px;
}
#facts .heading-2 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 12px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}
#facts .owl-theme .owl-controls .owl-buttons div {
    color: #000;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    
    margin: 4px;
    font-size: 33px;
    /*-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	*/
    
    background: #fff;
    filter: Alpha(Opacity=70);
    /*IE7 fix*/
    
    opacity: 0.7;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#facts .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    
    opacity: 1;
    text-decoration: none;
}
#our-facts .items .circle {
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 150px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#our-facts .items .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #000;
    top: -48px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 8px;
    line-height: normal;
    margin-bottom: -20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#our-facts .items:hover .circle {
    background-color: #ffffff;
    color: #000;
}
#our-facts .items:hover .icon {
    background-color: #000;
    color: #fff;
}
#our-facts .items:hover .icon i {
    color: #fff;
}
/* ------------------------------------------------------------------------------------------ Pricing Section Starts */

section#pricing {
    padding-bottom: 60px;
}
#pricing .row {
    text-align: center;
}
#pricing {
    color: #fff;
}
#pricing {
    background-attachment: fixed;
    background-image: url(../img/parallax/3.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
#pricing h2 {
    color: #FFF;
}
#pricing .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#pricing .smallline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#pricing .picture img {
    width: 100%;
    height: auto;
    background: transparent;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
    border: 3px solid #FFF;
}
#pricing .heading-1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: -200px;
    margin-bottom: -40px;
}
#pricing .circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    color: #000;
    top: -90px;
    margin-bottom: -20px;
    padding-top: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #ccc;
}
#pricing .circle span.price {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}
#pricing .circle span {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
}
#pricing .p-table {
    position: relative;
    top: -40px;
}
#pricing .p-table ul {
    padding: 0px;
    margin: 0px;
}
#pricing .p-table ul li {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(256, 256, 256, 0.2);
    border-bottom-color: rgba(204, 204, 204, 0.2);
    list-style-type: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#pricing .p-table ul li:hover {
    background-color: rgba(256, 256, 256, 0.1);
}
#pricing .btn {
    color: #000;
    background-color: #ccc;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-weight: 500;
}
#pricing .p {
    background-color: #fff;
}
#pricing .col-md-3:hover .circle {
    background-color: #000;
    color: #fff;
}
#pricing .col-md-3:hover .btn {
    background-color: #000;
    color: #FFF;
}
/* ------------------------------------------------------------------------------------------ Blog Section Starts */

#blog .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#blog .blog-contents {
    margin-bottom: 30px;
}
#blog .post {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}
#blog .post .picture img {
    width: 100%;
    height: auto!important;
    background: transparent;
    border-radius: 50%!important;
    position: relative;
    margin-bottom: 30px;
}
#blog .post .date {
    width: 80px;
    height: 80px;
    border-radius: 150px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    top: -78px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: normal;
    margin-bottom: -50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#blog .post:hover .more {
    background-color: #666;
}
#blog .post:hover .date {
    background-color: #666;
}
#blog .post .date p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 3px;
}
#blog .post .heading {
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 20px;
}
#blog .post .smallline {
    background-color: #e5e5e5;
    width: 100px;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#blog .post .description {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.info {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.info a i {
    padding-left: 12px;
    padding-right: 4px;
}
.info a {
    color: #555555;
    text-decoration: none;
}
.info a:link {
    text-decoration: none;
}
.info a:hover {
    text-decoration: underline;
}
#blog .post .more {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#blog .post .more a i {
    font-size: 24px;
    line-height: 0;
    color: #FFF;
}
a.view-all {
    border: 2px solid #000;
    color: #000;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 3px;
    font-weight: 500;
}
a.view-all:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}
/*------------------------*/

.blog-page-heading {
    background-attachment: fixed;
    background-image: url(../img/parallax/1.jpg);
    background-repeat: repeat-y;
    background-position: 50% 95%;
    background-size: cover;
}
.blog-page-heading .section-heading {
    color: #FFF;
    text-align: center;
    margin-bottom: 120px;
    padding-top: 120px;
}
section#blog-page {
    padding-top: 0px;
    padding-bottom: 0px;
}
#blog-page .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#blog-page .contents {
    margin-top: 120px;
    margin-bottom: 120px;
}
#blog-page .post {
    text-align: center;
    margin-bottom: 50px;
}
#blog-page .post .picture img {
    width: 100%;
    height: auto;
    background: transparent;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
}
#blog-page .post .date {
    width: 80px;
    height: 80px;
    border-radius: 150px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    top: -78px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: normal;
    margin-bottom: -50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#blog-page .post:hover .more {
    background-color: #666;
}
#blog-page .post:hover .date {
    background-color: #666;
}
#blog-page .post .date p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
#blog-page .post .heading {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
#blog-page .post .smallline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#blog-page .post .description {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#blog-page .post .more {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#blog-page .post .more a i {
    font-size: 24px;
    line-height: 0;
    color: #FFF;
}
/*-------------------------*/

#blog-single-post {
    font-size: 14px;
    font-weight: 400;
}
.blog-single-post-heading {
    background-attachment: fixed;
    background-image: url(../img/parallax/4.jpg);
    background-repeat: repeat-y;
    background-position: 50% 95%;
    background-size: cover;
}
.blog-single-post-heading .section-heading {
    color: #FFF;
    text-align: center;
    margin-bottom: 120px;
    padding-top: 120px;
}
section#blog-single-post {
    padding-top: 0px;
    padding-bottom: 0px;
}
#blog-single-post .contents {
    padding-top: 120px;
    padding-bottom: 120px;
}
#blog-single-post .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#blog-single-post .date {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #FFF;
    top: -50px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 8px;
    line-height: normal;
    margin-bottom: -50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#blog-single-post .date p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
#blog-single-post .heading {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}
#blog-single-post .smallline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-top: 2px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100px;
}
#blog-single-post .description {
    margin-bottom: 30px;
}
#blog-single-post blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog-single-post .blog-comments {
    margin-top: 60px;
}
#blog-single-post .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}
#blog-single-post .smallline2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100px;
}
ul.media-list {} .media, .media .media {
    margin-top: 20px; 
}
ul.media-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
}
#blog-single-post .post-comment {
    margin-top: 60px;
    margin-bottom: 30px;
}
#blog-single-post .blog-comments .pdate {
	font-size:14px;
	letter-spacing:2px;
	text-transform:uppercase;
}
#blog-single-post .post-comment .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}
.tab-content {
    margin-top: 2px;
}
.tab-content ul {
    padding: 0px;
    margin: 0px;
}
.tab-content ul li {
    margin: 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    list-style-type: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
}
.tab-content ul li a {
    text-decoration: none
}
.tab-content ul li a:hover {
    text-decoration: none;
    color: #000;
}
.tab-content ul li a:active {
    text-decoration: none
}
.tab-content ul li i {
    padding-right: 6px;
}
.about-blog,
.tag-list {
    margin-top: 40px;
}
.tag-list a {
    border: 1px solid #d9d9d9;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.tag-list a,
.tag-list a:hover,
.tag-list a:active,
.tag-list a:focus {
    text-decoration: none;
    outline: none;
}
.tag-list a:hover {
    color: #fff;
    background-color: #000;
}
/* ------------------------------------------------------------------------------------------ Clients Section Starts */

section#clients {
    padding-top: 50px;
    padding-bottom: 50px;
}
#clients {
    background-image: url(../img/textures/light-grey-noise.gif);
}
.clients .items {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------------------------------------------------------------ Testimonials Section Starts */

#testimonials {
    color: #fff;
}
#testimonials {
    background-attachment: fixed;
    background-image: url(../img/parallax/2.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
#testimonials h2 {
    color: #FFF;
}
#testimonials .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.testimonials-p .items {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.testimonials-p .items .desc {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.testimonials-p .items .heading-1 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
.testimonials-p .items .heading-2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 2px;
}
/* ------------------------------------------------------------------------------------------ Social Media Section Starts */

#social-media {
    color: #fff;
}
#social-media {
    background-attachment: fixed;
    background-image: url(../img/parallax/4.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
#social-media h2 {
    color: #FFF;
}
#social-media .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    margin-bottom: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#social-media .row {
    text-align: center;
}
#social-media .desc {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
#social-media ul {
    padding: 0px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}
#social-media ul li {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-align: center;
    /*border: 3px solid #000;*/
    
    font-size: 24px;
    line-height: 2.2;
    color: #000;
    margin-left: 4px;
    margin-right: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#social-media ul li:hover {
    opacity: .50;
    filter: alpha(opacity=50);
}
#social-media ul li a {
    color: #000;
}
#social-media ul li a:hover {
    color: #666;
}
/* ------------------------------------------------------------------------------------------ Contact Section Starts */

#contact .line {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-bottom: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#contact h3 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 12px;
}
#contact .input-group {
    padding-top: 6px;
    padding-bottom: 6px;
}
#contact .input-group-btn {
    padding-top: 6px;
    padding-bottom: 6px;
}
#contact .address {
    font-size: 16px;
    padding-top: 20px;
    line-height: 1.5;
}
#contact .address i {
    padding-right: 10px;
    text-align: center;
    width: 30px;
}
#contact .form {
    padding-top: 2px;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#contact a {
    color: #000;
}
#contact a:hover {
    color: #666;
}
#message_post {
    padding-top: 6px;
    padding-bottom: 6px;
}
.errorMessage {
    color: #ff0000;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
}
.successMessage {
    color: #12d62d;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
    margin-left: 0px;
}
.form-buttons {
    padding-top: 8px;
}
.form-element {} .form-element label {} .form-element input.text {
    padding-left: 20px;
    padding-top: 8px;
}
.form-element .textarea {
    padding-left: 20px;
    padding-top: 8px;
}
.form-element .hightlight {
    border: 2px solid #9F1319
}
.form-element #submit {} .loading {
    height: 28px;
    width: 28px;
    display: none;
    background-image: url(../img/progress.gif);
    background-repeat: no-repeat;
    background-position: 1px;
}
.done {
    display: none
}
#contact .address img {
    padding-right: 10px
}
.scrollup {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    /*border: 3px solid #000;*/
    
    font-size: 28px;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 5px;
    /*position: fixed;
	bottom: 30px;
	right: 30px;
	text-indent: -9999px;*/
    /*background: url('../img/totop/to-top.png') no-repeat;*/
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.scrollup:hover {
    opacity: .50;
    filter: alpha(opacity=50);
}
/* ------------------------------------------------------------------------------------------ Footer Section Starts */

section#footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer {
    background: url(../img/textures/light-grey-noise.gif);
}
#footer .row {
    text-align: center;
}
#footer .line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer .desc {
    font-size: 14px;
    font-weight: 400;
}
#footer .desc i {
    margin-bottom: 20px;
    font-size: 30px;
}
/*------------------------------------------------------------------------- Media Starts */

@media (max-width: 960px) {
    #container-thumbs .items {
        min-width: 50%;
        max-width: 50%;
    }
    .animated {
        visibility: visible;
    }
    .visible {
        visibility: visible;
    }
}
@media (max-width: 767px) {
    .navbar-nav {
        margin-left: 0px!important;
        float: none!important;
    }
    .animated {
        visibility: visible;
    }
    .visible {
        visibility: visible;
    }
    #navigation ul.nav li {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 480px) {
    #container-thumbs .items {
        min-width: 100%;
        max-width: 100%;
    }
    #navigation ul.nav li {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .animated {
        visibility: visible;
    }
    .visible {
        visibility: visible;
    }
    #our-facts .items .circle {
        width: 120px;
        height: 120px;
        background: transparent;
        border: 3px solid #ffffff;
        border-radius: 60px;
        position: relative;
        margin-bottom: 20px;
        text-align: center;
        padding-top: 24px;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #video {
        display: none;
    }
    #quotes {
        background-image: none;
        background-color: #666666;
    }
    #pricing {
        background-image: none;
        background-color: #666666;
    }
    .blog-page-heading {
        background-image: none;
        background-color: #666666;
    }
    .blog-single-post-heading {
        background-image: none;
        background-color: #666666;
    }
    #testimonials {
        background-image: none;
        background-color: #666666;
    }
    #social-media {
        background-image: none;
        background-color: #666666;
    }
}