<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- TEAM STARTS
			========================================================================= -->
      <section id="team">
        <div class="container">
          <div class="row">
            <div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
              <h2>OUR TEAM</h2>
              <h1>Meet the Team</h1>
              <p class="line">&nbsp;</p>
            </div>
          </div>
          <div class="owl-carousel animated" data-animation="fadeInUp" data-animation-delay="200" id="our-team">
            <div class="team-contents">
              <div class="picture"><a href="#" class="teamoverlayzoom"><img src="../assets/../assets/img/slider/team/boss1.jpg" class="img-responsive" alt=""><!-- <span class="zoom"></span> --> </a> </div>
              <div class="heading">Claudia Manson</div>
              <div class="designation">Managing Director</div>
              <div class="smallline">&nbsp;</div>
              <!-- <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor.</div>
              <div class="team-social"><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div> -->
            </div>
            <div class="team-contents">
              <div class="picture"><a href="#" class="teamoverlayzoom"><img src="../assets/img/slider/team/boss2.jpg" class="img-responsive" alt=""> </a> </div>
              <div class="heading">Claudia Sarpong</div>
              <div class="designation">Managing and Head Tutor</div>
              <div class="smallline">&nbsp;</div>
              
            </div>
            <div class="team-contents">
              <div class="picture"><a href="#" class="teamoverlayzoom"><img src="../assets/img/slider/team/boss3.jpg" class="img-responsive" alt=""> </a> </div>
              <div class="heading">Mavis Sarpongmaa</div>
              <div class="designation">Hair and Nails Mistress</div>
              <div class="smallline">&nbsp;</div>
              
            </div>
            
          </div>
        </div>
      </section>
      <!-- /.TEAM -->
      <!-- SERVICES STARTS
			========================================================================= -->
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
						<h2>OUR SERVICES</h2>
						<h1>What We Do</h1>
						<p class="line">&nbsp;</p>
						<p>We offer quality services of training to attain the skills of professionalism in all disciplines under cosmetology in a serene environment, where tutors create a very friendly atmosphere and have the patience with the students through their studies thoroughly. What distinguishes us from most beauty schools is the one-on-one lessons for students.</p>
					</div>
				</div>
				<div class="owl-carousel animated" data-animation="fadeInUp" data-animation-delay="200" id="our-services">
					<div class="item">
						<!-- <div class="circle icon"> -->
							<img src="../assets/img/services-1.jpg" style="margin: 15px auto;" class="img-responsive">
						<!-- </div> -->
						<!-- <div class="heading-1">Academy</div> -->
						<div class="heading-2">Academy</div>
						<div class="smallline">&nbsp;</div>
						<div class="description">Bridal: as self explanatory, purposely for special occasions as weddings etc.
Prosthetic: This is basically the special effects makeup done for movies, stage plays, music videos etc. 
Model cosmetic: for runway modeling shows, studio videos and photo shoots.
						</div>
					</div>
					<div class="item">
						<img src="../assets/img/services-2.jpg" style="margin: 15px auto;" class="img-responsive">
						
						<div class="heading-2">Make-Up</div>
						<div class="smallline">&nbsp;</div>
						<div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
					</div>
					<div class="item">
						<img src="../assets/img/services-3.jpg" style="margin: 15px auto;" class="img-responsive">
						
						<div class="heading-2">HAIR</div>
						<div class="smallline">&nbsp;</div>
						<div class="description">
						 Weave-on: the process where the extensions(artificial hair-synthetic or human hair) is fixed directly on the the head of the clientele either by sewing it or bonding with hair glue. Winglets: also known as wigcaps are the all-ready made hair extensions. Plaits: consist of Rasta, Twists, dreadlocks etc. Braids: what is popularly known ad cornrows.</div>
					</div>
					<div class="item">
						<img src="../assets/img/services-4.jpg" style="margin: 15px auto;" class="img-responsive">
						
						<div class="heading-2">NAILS</div>
						<div class="smallline">&nbsp;</div>
						<div class="description">Manicure and Pedicure -  salon treatment of the fingers and toes respectively. Cuticles displays: adding extensions(artificial nails) or just the natural nails having certain attachment to it to the clientele’ desire.</div>
					</div>
					<div class="item">
						<img src="../assets/img/services-5.jpg" style="margin: 15px auto;" class="img-responsive">
						
						<div class="heading-2">HENNA ARTS</div>
						<div class="smallline">&nbsp;</div>
						<div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
					</div>
					<div class="item">
						<img src="../assets/img/services-6.jpg" style="margin: 15px auto;" class="img-responsive">
						
						<div class="heading-2">SCARF WRAP</div>
						<div class="smallline">&nbsp;</div>
						<div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</div>
					</div>
				</div>
				<div> </div>
			</div>
		</section>
    <!-- /.SERVICES --> 
    <!-- ABOUT US STARTS
			========================================================================= -->
		<section id="about" style="background-color: #f3f3f3">
			<div class="container">
				<div class="row">
					
					<div class="col-md-12 section-heading animated" data-animation="fadeInRight" data-animation-delay="0" style="text-align:center">
<!-- 						<h2>CLEAN / <span class="colored-text">BEAUTIFUL</span> / MODERN THEME</h2>
 -->						<h1>Our Side Bees (extra services)</h1>
						<p class="line" style="margin: auto;">&nbsp;</p>
					</div>					
				</div>
				<div class="row">
					<div class="col-md-3 animated" data-animation="fadeIn" data-animation-delay="200">
						<div class="circle icon"><img src="../assets/img/wedding-couple.png" class="img-responsive" alt="" style="margin: auto;"></div>
						<div class="description">Bridal/Studios/Idea Make-up</div>
						<!-- <div class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</div> -->
					</div>
					<div class="col-md-3 animated" data-animation="fadeIn" data-animation-delay="400">
						<div class="circle icon"><img src="../assets/img/nail.png" class="img-responsive" alt="" style="margin: auto;"></div>
						<div class="description">Walk-in Serviecs (Make-up/Hair/Nails)</div>
						</div>
					<div class="col-md-3 animated" data-animation="fadeIn" data-animation-delay="600">
						<div class="circle icon"><img src="../assets/img/grooming.png" class="img-responsive" alt="" style="margin: auto;"></div>
						<div class="description">Model Grooming</div>						
					</div>
					<div class="col-md-3 animated" data-animation="fadeIn" data-animation-delay="600">
						<div class="circle icon"><img src="../assets/img/customer.png" class="img-responsive" alt="" style="margin: auto;"></div>
						<div class="description">Masseur Services</div>						
					</div>
				</div>
				<div> </div>
			</div>
		</section>
		<!-- /.ABOUT --> 
		<!-- TESTIMONIALS STARTS
			========================================================================= -->
		<section id="testimonials" data-speed="20" data-type="background">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
						<h2>TESTIMONIALS</h2>
						<h1>What Our Clients Says</h1>
						<p class="line">&nbsp;</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animated" data-animation="fadeInUp" data-animation-delay="100">
						<div class="testimonials-p">
							<div class="items">
								<div class="desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</div>
								<div class="heading-1">- JOHN DOE- </div>
								<div class="heading-2">company name</div>
							</div>
							<div class="items">
								<div class="desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </div>
								<div class="heading-1">- JOHN DOE- </div>
								<div class="heading-2">company name</div>
							</div>
							<div class="items">
								<div class="desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </div>
								<div class="heading-1">- JOHN DOE- </div>
								<div class="heading-2">company name</div>
							</div>
							<div class="items">
								<div class="desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </div>
								<div class="heading-1">- JOHN DOE- </div>
								<div class="heading-2">company name</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.TESTIMONIALS --> 
		<!-- CONTACT STARTS
			========================================================================= -->
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
						<h2>CONTACT US</h2>
						<h1>Get in touch with us</h1>
						<p class="line">&nbsp;</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 animated" data-animation="fadeInUp" data-animation-delay="100">
						<h3>Postal Address</h3>
						<p>Opposite Pentecost Church, Madina Zongo Junction, Libya Quarters.</p>
						<div class="address">
						<!--  <i class="fa fa-map-marker"></i> PO Box 16122 Collins Street West, Victoria 8007 Australia<br> -->
							
							<i class="fa fa-phone"></i> +233 544 464 499<br>
							<i class="fa fa-print"></i> +233 545 249 266<br>
							<br>
							<i class="fa fa-envelope"></i> <a href="mailto:info@brushesandlipsticks.com">info@brushesandlipsticks.com</a><br>
							<i class="fa fa-globe"></i> <a href="#">www.brushesandlipsticks.com</a> 
						</div>
					</div>
					<div class="col-lg-6 form-element animated" data-animation="fadeInUp" data-animation-delay="300">
						<h3>Feel Free to Drop Us a Line</h3>
						<!-- <p>Tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. </p> -->
						<div class="form">
							<form action='process.php' method='post' name='ContactForm' id='ContactForm' >
								<div id='message_post'></div>
								<div class="input-group"> <span class="input-group-addon">@</span>
									<input type="text" name="name" class="form-control" placeholder="Name *">
								</div>
								<div class="input-group"> <span class="input-group-addon">@</span>
									<input type="text" name="email" class="form-control" placeholder="Email *">
								</div>
								<div class="input-group"> <span class="input-group-addon">@</span>
									<input type="text" name="website" class="form-control" placeholder="Subject">
								</div>
								<div class="input-group"> <span class="input-group-addon">@</span>
									<textarea name="comment" class="form-control" rows="3" placeholder="Comment *"></textarea>                                
								</div>
								<div class="input-group form-buttons"> <span class="input-group-btn">
									<button class="btn btn-default" type='submit' value='Submit' name='submitf' id="submitf" style="width:120px;height:40px;"><i class="fa fa-envelope"></i> SEND</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.CONTACT -->
		<!-- SOCIAL MEDIA STARTS
			========================================================================= -->
		<section id="social-media" data-speed="20" data-type="background">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading animated" style="text-align:center" data-animation="fadeInUp" data-animation-delay="0">
						<h2>SOCIAL MEDIA</h2>
						<h1>GET IN TOUCH WITH UPDATES</h1>
						<p class="line">&nbsp;</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 animated" data-animation="fadeInUp" data-animation-delay="200">
						<div class="desc">Tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<ul>
							<li class="animated" data-animation="fadeInUp" data-animation-delay="400"><a href="https://www.facebook.com/brushesandlipsticksbeautyacademy1/"><i class="fa fa-facebook"></i></a></li>			
							
							<li class="animated" data-animation="fadeInUp" data-animation-delay="700"><a href="https://www.instagram.com/brushes_lipsticks_ba/"><i class="fa fa-instagram"></i></a></li>
							<li class="animated" data-animation="fadeInUp" data-animation-delay="800"><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    <!-- /.SOCIAL MEDIA -->
    
<app-footer></app-footer>


