<script>
    $(document).ready(function() {
    				   $("#portfolio-gallery").owlCarousel({
    					  navigation : false, 
    					  slideSpeed : 400,
    					  paginationSpeed : 500,
    					  singleItem:true,
    					  pagination:true,
    					  autoPlay : 5000,
    					  navigationText : ['']
     					 });
    			});
</script>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="portfolio-gallery" class="owl-carousel owl-theme">
                <div class="item"><img src="http://placehold.it/700x560" class="" /></div>
                <div class="item"><img src="http://placehold.it/700x560" class="" /></div>
                <div class="item"><img src="http://placehold.it/700x560" class="" /></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="heading">Sed ut perspiciatis</div>
            <div class="desc">Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaeab illo inventore veritatis et quasi architecto beatae </div>
            <ul>
                <li><strong>Category</strong>: Graphics, Web</li>
                <li><strong>Client:</strong> Perspiciatis</li>
                <li><strong>URL:</strong> www.perspiciatis.com</li>
                <li><strong>Year:</strong> 2014</li>
            </ul>
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="links">
                <div class="pull-left"><a href="#" target="_blank"><i class="fa fa-rocket"></i> Launch Website</a></div>
                <div class="close-detail pull-right"><a><i class="fa fa-times"></i> Close</a></div>
            </div>
        </div>
    </div>
</div>